body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header-container {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.form-container {
    flex: 1;
    padding: 20px;
    max-width: 640px;
}

.image-container {
    flex: 1;
    max-width: 640px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #007bff;
}

img {
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchInput {
    width: 300px;
    padding: 8px;
    font-size: 16px;
}

#resultsContainer {
    position: relative;
    width: 300px;
}

#resultsList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

#resultsList li {
    padding: 8px;
    cursor: pointer;
}

#resultsList li:hover {
    background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-container,
    .image-container {
        width: 100%;
    }
}
